$primary-color: #ff6060;
$secondary-color: #F6F6F6;
$tertiary-color: #FFFFFF;

$common-width: 86vw;
$common-width-mobile: 89vw;
$common-font-size-little: 18px;
$common-font-size-big: calc(12px + 0.0112676056 * (100vw - 375px));
