.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $common-width;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        width: $common-width-mobile;
    }
    &Logo {
        color: $primary-color;
        fill: currentColor;
        @media screen and (max-width: 768px){
            width: 145px;
        }
    }
    &Nav {
        display: flex;
        justify-content: space-between;
        &Link {
            text-align: right;
            font-size: $common-font-size-big;
            text-decoration: none;
            color: $primary-color;
            width: fit-content;
            @media screen and (max-width: 768px) {
                text-transform: uppercase;
            }
            &:first-child {
                margin-right: 57px;
                @media screen and (max-width: 768px) {
                    margin-right: 26px
                }
            }
            &.active {
                border-bottom: 1px solid $primary-color;
            }
        }
    }
}

