.housing_tags {
    display: flex;
    min-width: 115px;
    padding: 0 10px;
    height: 25px;
    border-radius: 10px;
    background-color: $primary-color;
    color: white;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    @media screen and (max-width: 768px) {
        min-width: 84px;
        height: 18px;
        font-size: 10px;
    }
    &:first-child {
        margin-left: 0;
    }
    @media screen and (max-width: 768px) {
        &:nth-child(4) {
            margin-left: 0;
        }    
    }
    &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 5px;
    }
}