.error-404 {
    width: 100%;
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    & div {
        font-size: 290px;
        text-align: center;
        line-height: 263px;
        font-weight: 700;
        color: $primary-color;
    }
    & h3 {
        color: $primary-color;
        font-weight: 500;
        font-size: 36px;
    }
    & a {
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
    }
}