.housing_host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
    @media screen and (max-width: 768px) {

    }
    &_name {
        width: 80px;
        font-size: $common-font-size-little;
        font-weight: 500;
        text-align: end;
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }
    &_picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-left: 10px;
        @media screen and (max-width: 768px) {
            width: 32px;
            height: 32px;
        }
    }
}